@import "../../styles/variables.scss";

.card {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 5.9fr 0.8fr 0.8fr 1fr 0.88fr 0.4fr 0.22fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    border-radius: 2px;
    background: #FFF;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    &__code {
        color: $--primary-font-color;
        text-align: center;
        font-family: $--primary-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 15.6px */
    }
    &__description {
        color: $--primary-font-color;
        font-family: $--primary-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 15.6px */
    }
    &__stock {
        color: $--primary-font-color;
        text-align: center;
        font-family: $--primary-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 15.6px */
    }
    &__quantity {
        color: $--primary-font-color;
        text-align: center;
        font-family: $--primary-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 15.6px */
    }
    &__price {
        color: $--primary-font-color;
        text-align: center;
        font-family: $--primary-font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 15.4px */
    }
    &__btn {
        display: flex;
        padding: 9px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid $--accent-font-color;
        background: #FFF;
        transition: 0.4s;
        cursor: pointer;
        &_text {
            color: $--accent-font-color;
            font-family: $--primary-font-family;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 15.6px */
            margin: 0;
        }
        &:hover {
            border-radius: 4px;
            border: 1px solid $--accent-font-color;
            background: $--accent-font-color;
            & .card__btn_text {
                color: #FFF;
            }
        }
    }
    &__favourite {
        cursor: pointer;
        display: flex;
        width: 30px;
        height: 30px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 45px;
        border: 1px solid #E9EBEF;
        background: #FFF;
        &_img {
            width: 20px;
            height: 20px;
        }
    }
    &__remove {
        display: flex;
        width: 16px;
        height: 16px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}